* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Red Hat Text', sans-serif;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #255ee9;
}


.logo {
    width: 105px;
}


.link-header {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin: 15px;
}


.button-header {
    flex-basis: 55px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-header-text {

    font-size: 0.7em;
    font-weight: 400;
    color: #23272a;
    text-decoration: none;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position-y: -20px;

}



.welcome-title {
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.welcome-paragraph {
    max-width: 45%;
    margin-bottom: 12px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
}

.button-welcome-block {
    display: flex;
    justify-content: center;

}

.button {
    height: 37px;
    border-radius: 20px;
}

#white {
    margin-right: 15px;
    background-color: white;
}

#black {
    background-color: #23272a;
}

.button-text {
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

#white .button-text {
    color: #23272a;
}

#black .button-text {
    color: white;
}

.fa-long-arrow-down {
    margin-right: 5px;
}

.section {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 70px 0 70px 0;
}

.section-pic {
    width: 40%;
}

.section-text {
    max-width: 30%;
}

.section-title {
    max-width: 60%;
    font-size: 2em;
    font-weight: 600;
    line-height: 100%;
}

.section-paragraph {
    max-width: 75%;
    margin-top: 25px;
    font-size: 15px;
    line-height: 160%;
}

.last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 0;
}


.last-section-text {
    max-width: 59%;
    

}

.last-section-title {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.last-section-paragraph {
    text-align: center;
    margin-top: 25px;
}

.last-section-pic {
    width: 85%;
}

.cta-container {
    background-image: url("../img/stars.svg");
    background-size: cover;
    background-origin: border-box;
    height: 20px;
    padding: 20px;
    margin-bottom: 35px;
}

.cta {
    font-size: 20px;
    font-weight: 700;
}

#blue {
    background-color: #7289da;
}

#blue .button-text {
    color: white;
}


a {
    text-decoration: none;
}


footer {
    background-color: #23272a;
}


.footer-first {
    display: flex;
    justify-content: space-around;
    padding: 50px 50px 20px 50px;
    

}

.footer-end {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #465279;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;

}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list-title.big {
    max-width: 70%;
    font-size: 25px;
    font-weight: 700;
    color: #7289da;
}

.ita-flag {
    width: 17px;
}

.ita-text {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-logo {
    margin-right: 15px;
}

.footer-list-title.small {
    font-size: 15px;
    font-weight: 500;
    color: #7289da;
}

.footer-list.final li {
    margin-bottom: 15px;
}

.logo-footer {
    margin-top: 15px;
}

.button.footer {
    margin-top: 15px;
    background-color:#7289da;
}